<!-- テキストのバインディング -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js App</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app">
  <!-- #app 内にVuejsのコードを実装する -->
    <div v-if="ok">v-if条件による分岐</div>
    <div v-show="ok">v-show条件による分岐</div>
    <template v-if="ok">
      <header>title</header>
      <div>contents</div>
    </template>
  <!-- #app 内にVuejsのコードを実装する -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>